<div th:fragment="seatmap-sections" class="concert-seating-sections">
    <div th:each="section : ${sectionsWithSeats}" 
        class="concert-seating-section"
        th:data-section-number="${section.sectionNumber}"
        th:data-section-name="${section.name}">
        
        <div class="concert-seating-section-seats" style="grid-template-columns: repeat(24, 1fr);">
            <th:block th:each="i: ${#numbers.sequence(1, section.numRows)}">
	            <div th:each="j: ${#numbers.sequence(1, section.seatsPerRow)}"
	                 th:class="'seat seat-available'"
	                 th:data-seat-id="${section.sectionNumber}+'-'+${i}+'-'+${j}">
	                 <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
	                    <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" />
	                    <path d="M15,35 L85,35 L85,85 L15,85 Z" fill="#FFFFFF" fill-opacity="0.2" />
	                    <path d="M25,15 L75,15 L75,30 L25,30 Z" fill="#FFFFFF" fill-opacity="0.2" />
	                </svg>
	            </div> 
            </th:block> 
        </div>
    </div>
</div>