<div th:fragment="section-modal" class="section-modal-background">
    <div class="section-modal-content">
        <h3 x-text="currentSection">Section ID</h3>
        <div class="section-modal-legend">
            <div class="section-modal-legend-item">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" fill="#FF4081" />
                </svg>
                In Your Cart
            </div>
            <div class="section-modal-legend-item">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" fill="#00A3E0" />
                </svg>
                Available
            </div>
            <div class="section-modal-legend-item">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" fill="#FFA500" />
                </svg>
                In Other Carts
            </div>
            <div class="section-modal-legend-item">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" fill="#D3D3D3" />
                </svg>
                Sold
            </div>
        </div>
        <div class="section-modal-seats-container">
            <div class="section-modal-seats-container">

            </div>
        </div>
    </div>
</div>