.concertHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.concertHeader > h1 {
    margin: 0;
}
.concertHeaderDetails {
    font-size: 1em;
    color: #555;
    text-align: center;
    line-height: 1.4;
    position: relative;
    width: 100%;
}

.concertHeaderDetails strong {
    font-weight: 600;
    color: #333;
}