<html layout:decorate="~{layout/base}">
<head>
    <title th:text="'Upcoming Concerts'"></title>
</head>

<main layout:fragment="content">
    <div class="container">
        <img th:src="@{/images/logo.png}" alt="Ticketfaster Logo" class="logo">
        <div class="content-wrapper">
            <h1>Upcoming Concerts</h1>
            <div class="concert-list">
                <div class="list-show-list-artist-container" th:each="artist : ${liveShowsByArtist}">
                    <h2 class="concert-list-artist-heading" th:text="${artist.key}">Artist</h2>
                    <div th:each="concert : ${artist.value}" class="concert-list-item">
                        <h3><a th:href="@{/concerts/{id}(id=${concert.id})}" th:text="${concert.venue.name}">Venue Name</a></h3>
                        <p><strong>Date: </strong> <span th:text="${#dates.format(concert.date, 'MMMM d, yyyy')}">Date</span></p>
                        <p><strong>Time: </strong> Gates open at 17:30, Show starts at 20:00</p>
                    </div>
                </div>
            </div>
            <hr class="footer-divider">
            <div class="footer">
                Ticketfaster is not a real corporation. Any similarity to a real corporation is simply coincidence.
            </div>
        </div>
    </div>
</main>

<th:block layout:fragment="script-content">
    <!-- Add any page-specific scripts here if needed -->
</th:block>
</html>