<div class="concert-seating-legend legend" th:fragment="seatmap-legend">
    <div class="concert-legend-item legend-item seat-available">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" />
        </svg>
        Available
    </div>
    <div class="concert-legend-item legend-item seat-in-cart">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" />
        </svg>
        In Other Carts
    </div>
    <div class="concert-legend-item legend-item seat-sold">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path d="M10,30 L10,90 L90,90 L90,30 L80,30 L80,10 L20,10 L20,30 Z" />
        </svg>
        Sold
    </div>
</div>